{% extends "layout.html" %}

{% block head %}
    <title>ADias Advocacia</title>
{% endblock %}

{% block body %}

<div class="div-titulo" id="home">

    <img src="{{url_for('static', filename='Branco.png')}}" class="logo">
    <p class="subtitulo">Escritório Especialista em Previdência</p>

</div>

<div id="quemsomos" class="quemSomos">

    <img src="{{url_for('static', filename='Doutores.jpeg')}}" class="doutores">
    <p class="quemSomosSinopse">
    <a class="quemSomosSub">Quem somos</a>
    <br>
    <br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sob o comando do <b>Dr. Anderson Dias</b>, o <b>Escritório ADias Advocacia</b> trabalha há mais de 20 anos nas áreas Trabalhista e Cível. Atualmente, possui grande enfoque na área Previdenciária.
    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Com um atendimento baseado no <b>profissionalismo, atenção, dedicação e lealdade</b>, sempre buscamos o melhor benefício para a vida do nosso cliente.
    <br>
    <br>
    <a href="quemSomos">Conheça nossa história</a></p>

</div>

<section id="acoes" class="acoes">
    <br>
    <div class="ap_idade">
        <a href="ap_idade.html" style="color: white;">Empresarial</a>
    </div>
    <br>
    <div class="ap_idade">
        <a href="ap_idade.html" style="color: white;">Aposentadoria por Idade</a>
    </div>
    <br>
    <div class="ap_especial">
        <a href="ap_especial.html" style="color: white;">Aposentadoria Especial</a>
    </div>
    <br>
    <div class="aux_doenca">
        <a href="aux_doenca.html" style="color: white;">Auxílio Doença</a>
    </div>
    <br>
</section>

<section id="contact" class="fale">

    <div style="width: 50%;">
        <p class="titulo_fale">Onde estamos</p>

        <p>Rua Capitão Cassiano Ricardo de Toledo, nº191<br>
        Golden Office- Sala 516, 5º andar<br>
        Chácara Urbana<br>
        Jundiaí - SP<br>
        13201-840<br></p>

        <p class="titulo_fale">Fale conosco</p>
        <p>(11) 4586-7456</p>
    </div>

    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=rua%20capit%C3%A3o%20cassiano%20ricardo%20de%20toledo%2C%20191%20-%20jundia%C3%AD&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Werbung: <a href="https://www.pureblack.de">pureblack.de</a>
        </div>
    </div>

</section>

{% endblock %}